.avis {
    width: 100%;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;

    background-color: #f5f5f5;

    padding-bottom: 70px;
    margin: 80px 0;
}

.avis .title{
    min-width: 100%;

    font-size: 28px;
    text-align: center;
    
    margin-bottom: 50px;
}

.avis .left{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.avis .left>div{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 5%;
}

.avis .left>div>p:first-child{
    font-size: 20px;
}

.avis .left>div>p:nth-child(2){
    font-size: 10px;
}

.avis .left>div>p:last-child{
    font-size: 15px;
    text-wrap: wrap;
    max-width: 80%;
}

.avis .left>div>p{
    margin: 5px 0;
}

.avis .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 15px 50px;

    border-left: 2px solid black;
}

.avis .right .total{
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.avis .right .total>p{
    margin: 8px 0;
}

.avis .right .total>p:first-child{
    font-size: 24px;
    font-weight: bolder;
}

.avis .right .total>p:last-child{
    font-size: 14px;

    color: rgb(53, 53, 53);

    text-wrap: wrap;
    text-align: center;

    max-width: 200px;
}

@media screen and (max-width: 1000px) {
    .avis{
        flex-direction: column;
        align-items: center;
    }

    .avis .left{
        justify-content: center;
    }

    .avis .left>div>p:last-child{
        max-width: 100%;
    }

    .avis .right{
        width: 30%;
        min-width: 200px;
        border-left: none;
        border-top: 1.5px solid black;

        align-items: center;

        margin-top: 0;
    }
}