*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

body{
    inset: 0;
    background-color: #eee;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#headContainer{
    left: 0;
    right: 0;
    top: 0;

    position: fixed;

    z-index: 5;

    display: flex;
    flex-direction: column;
}

header{
    height: 80px;

    padding: 0 8%;
    
    background: transparent;
    color: white;

    transition: all ease-in-out 130ms;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 19px;
}

header img{
    height: 60%;
    filter: drop-shadow(0 0 2rem rgb(29, 28, 28));
}

header i, header img, header p{
    cursor: pointer;
}

header p:hover{
    filter: drop-shadow(0 0 1rem rgb(78, 78, 78));
    transition: all ease-in-out 200ms;
}

header i{
    text-align: right;
    font-size: 35px;
}

header i, header div{
    width: 30%;
}

header div{
    display: flex;
    justify-content: space-around;
}

main{
    inset: 0;
    margin: 0;
    padding-top: 120px;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 500ms;
}


.container{
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: #aaa solid 2px;
    border-radius: 10px;

    width: 80%;
    max-width: 600px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password, input[type=email]{
    width: 300px;
}

@media screen and (max-width:1110px){
}
