*{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

body{
    inset: 0;
    margin: 0;

    background-color: #c57e7e;

    display: flex;
    flex-direction: column;
    align-items: center;
}



main{
    inset: 0;
    margin: 0;

    width: 100%;
    min-height: 600px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 500ms;
}


@media screen and (max-width:1110px){
}

a{
    text-decoration: none;
    color: black;
}