.tiktok{
    margin-top: 50px;

    width: 100%;
    height: max-content;

    display: flex;
    justify-content: center;
    gap: 5%;

    margin-top: 80px;
    padding-bottom: 110px;

    border-bottom: 10px pink solid;
}

.tiktok .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.tiktok .right .tag{
    min-width: 200px;
    width: 100%;

    display: flex;
    justify-content: start;
    gap: 20px;
}

.tiktok .right .tag i{
    padding: 10px 30px;
}

.tiktok .right .tag>i:last-child{
    color: rgb(4, 4, 75);
    background-color: pink;
}

.tiktok .right .tag>i:first-child{
    color: pink;
    background-color: rgb(4, 4, 75);
}

.tiktok .right h1{
    font-size: 40px;
    max-width: 300px;
}

.tiktok .right p{
    max-width: 300px;

    font-size: 18px;

    text-wrap: wrap;
}

.tiktok .right button{
    background: rgb(4, 4, 75);

    border: rgb(4, 4, 75) 3px solid;
    border-radius: 25px;

    width: 80%;

    color: pink;
    font-size: 30px;

    cursor: pointer;

    transition: all .2s ease-in-out;

    padding: 6.5px 0;

    margin-top: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tiktok .right button:hover{
    transition: all .5s ease-in-out;
    background: white;
}

.tiktok .left .phone{
    background-image: url(../../img/phone.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    filter: drop-shadow(black 0 0 20px);

    height: 480px;

    display: flex;
    align-items: center;
}

.tiktok .left .posts{
    display: flex;
    justify-content: space-evenly;
    gap: 5px;

    background-color: white;
}

.tiktok .left .post{
    width: 200px;
}