.form{
    width: 50%;
    min-width: 600px;
    
    filter: drop-shadow(0 0 .2rem rgb(139, 139, 139));

    margin-bottom: 100px;
}

.form .cat{
    width: 100%;

    padding: 10px 0;
    
    display: flex;
    justify-content: center;

    background-color: white;

    border-top: 1px solid #ccc;

    cursor: pointer;
    
}

.form .cat p{
    margin: 0;

    width: 95%;
}

.form .cat p i{
    font-size: 24px;
    margin-right: 25px;
}

.form .part{
    background-color: white;

    padding: 15px 0;
    
    width: 100%;

    display: flex;
    justify-content: center;

    display: none;
}

.form .part form{
    width: 85%;

    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.form .part form>div{
    width: 30%;
    display: flex;
    justify-content: center;
}

.vertical{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 200px;
}

.part label{
    margin-bottom: 7px;
    margin-left: 4px;
    margin-right: 10px;
}

.part input[type=number], .part input[type=text], .part input[type=email], .part p, .part label, .part input[type=submit]{
    font-size: 18px;
    
}

.part input[type=number], .part input[type=text], .part input[type=email], select{
    border: 3px solid #ccc;
    border-radius: 5px;

    max-width: 200px;
    min-width: 200px;

    padding: 5px 10px;

    transition: border linear 200ms;
    background-color: transparent;
}

.part input[type=number]:focus, .part input[type=text]:focus, .part input[type=email]:focus{
    outline: none;
    border: 3px solid #555;
}

.part input[type=submit]{
    height: 40px;
    width: 30%;

    background-color: transparent;

    border: 3px solid #333;
    border-radius: 10px;

    font-weight: bolder;
}

.part input[type=submit]:hover{
    cursor: pointer;

    background-color: #333;
    color: white;
}

.full input[type=radio]{
    margin-right: 20px;
}

.full{
    min-width: 100%;
    display: flex;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    text-align: right;
    -moz-appearance:textfield;
}
